@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f0f5fa;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  font-family: 'Space Grotesk', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  background: linear-gradient(0.33turn, var(--primary-color), #2291ff, var(--secondary-color), #025eba);
  background-size: 400% 400%;
  color: #333;
  line-height: 1.6;
  animation: GradientBackground 12s ease infinite;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2 {
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

svg {
  margin: 0 .5rem 0 0;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* Navbar */
.navbar {
  background-color: transparent;
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 16px;
  margin: 0 8px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar a.active {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar .logo-container.flex {
  flex-direction: row;
}

/* Showcase */
.showcase {
  height: 50vh;
  background-color: transparent;
  color: #fff;
  position: relative;
}

.showcase p {
  margin: 20px 0 24px;
  text-wrap: balance;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.showcase-text {
  animation: slideInFromLeft 0.5s ease-in;
  padding-bottom: 5vh;
}

.showcase-form {
  position: relative;
  top: 60px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
  animation: slideInFromRight 0.5s ease-in;
}

.showcase-form .form-control {
  margin: 20px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-radius: 8px;
  background-color: #f1f5fa;
  width: 100%;
  padding: 16px;
  font-size: 16px;
}

.showcase-form .btn {
  width: 100%;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 16vh;
  bottom: -8vh;
  right: 0;
  left: 0;
  z-index: -100;
  background-color: var(--light-color);
  transform: skewY(-2.0deg);
}

/* Stats */
.stats {
  padding-top: 40px;
  position: relative;
  background-color: var(--light-color);
}

.stats-heading {
  max-width: 900px;
  font-size: 2rem;
  margin: 4rem auto;
  text-wrap: balance;
  line-height: 1.6;
  animation: fadeIn .5s ease-in;
}

.stats .grid h3 {
  font-size: 35px;
  margin-top: 1rem;
  font-weight: 500;
  animation: slideInFromBottom .5s ease-in;
}

.stats .grid p {
  font-size: 20px;
  color: #63707d;
  animation: slideInFromBottom .5s ease-in;
}

.stats::before,
.stats::after {
  content: '';
  position: absolute;
  height: 30vh;
  bottom: -10vh;
  right: 0;
  left: 0;
  z-index: -100;
  background-color: var(--light-color);
  transform: skewY(-2.0deg);
}

/* CLI */
.cli {
  max-width: 1100px;
  margin: 0 auto;
  border-radius: 12px;
}

.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid div {
  padding: .5rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  justify-content: flex-start;
}

.cli .grid div i {
  font-size: 1.4rem;
  padding: 12px;
}

.cli .grid div p {
  font-size: 1rem;
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  min-width: 320px;
  width: 100%;
  height: auto;
}

/* Cloud */
.cloud {
  background-color: transparent;
}

.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

.cloud svg {
  max-width: 500px;
  height: auto; 
  margin: 1rem auto;
}

/* Languages */
.languages {
  max-width: 1100px;
  padding: 1rem 0;
  margin: 3rem auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  justify-self: center;
}

.languages .flex {
  flex-wrap: wrap;
  padding: 0;
}

.languages .card {
  text-align: center;
  margin: 0.5rem;
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: scale(1.02);
}

/* Features */
.features-head, 
.docs-head {
  margin-bottom: 10vh;
  position: relative;
}

.features-head .grid div {
  animation: slideInFromLeft .5s ease-in; 
}

.features-head img,
.docs-head img {
  width: 20vh;
  height: 20vh;
  justify-self: flex-end;
  opacity: 12%;
  animation: slideInFromRight .5s ease-in; 
}

.features-sub-head {
  padding-bottom: 0;
  position: relative;
  text-wrap: balance;
  z-index: 0; 
}

.features-sub-head .grid {
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.features-sub-head img {
  max-width: 300px;
  max-height: 300px;
  justify-self: center;
  animation: fadeIn .5s ease-in;
}

.features-sub-head .grid div {
  animation: slideInFromBottom .5s ease-in;
}

.features-main {
  background: linear-gradient(180deg, var(--light-color), #d0e3f5);
}

.features-main .card {
  margin: 0;
  justify-content: flex-start;
  align-items: flex-start;
  text-wrap: balance;
}


.features-main .card > i {
  padding: 1rem;
  margin-right: 1rem;
  width: 100px;
  flex-shrink: 0;
  text-align: center;
}

.features-main .card .flex {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.features-main .card h4 {
  font-size: 1.2rem;
  margin-top: 10px;
  align-items: flex-start;
  flex-direction: column;
}

.features-sub-head::before,
.features-sub-head::after {
  content: '';
  position: absolute;
  height: 10vh;
  top: -5vh;
  right: 0;
  left: 0;
  z-index: -100;
  background-color: var(--light-color);
  transform: skewY(-2.0deg);
}

/* Docs */
.docs-head .grid div {
  animation: slideInFromLeft .5s ease-in;
}

.docs-head img {
  padding: 2rem 0;
}

.docs-main {
  background: linear-gradient(180deg, var(--light-color), #d7e7f7);
  position: relative;
}

.docs-main h3 {
  margin: 20px 0;
}

.docs-main .grid {
  grid-template-columns: 1fr 3fr;
  align-items: flex-start;
  padding-bottom: 3rem;
}

.docs-main .grid > :first-child {
  position: sticky;
  top: 0;
}

.docs-main::before,
.docs-main::after {
  content: '';
  position: absolute;
  height: 10vh;
  top: -5vh;
  right: 0;
  left: 0;
  z-index: -100;
  background-color: var(--light-color);
  transform: skewY(-2.0deg);
}

.docs-main nav {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  animation: slideInFromLeft .5s ease-in;
}

.docs-main nav > :nth-child(2) {
  padding-bottom: .5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.docs-main nav a,
.docs-main nav h4 {
  display: block;
  width: 100%;
  padding: .6rem;
}

.docs-main nav a {
  border-radius: 8px;
}

.docs-main nav h4 {
  margin: .5rem 0 0;
  color: var(--secondary-color);
}

.docs-main nav li {
  font-size: 17px;
}

.docs-main li a:hover {
  font-weight: bold;
  background-color: rgba(30, 143, 255, 0.08);
}

.docs-main .card {
  align-items: flex-start;
  animation: fadeIn .5s ease-in;
  padding: 1.5rem;
}

.docs-main .card section {
  margin-top: 1rem;
}

.docs-main .card h3 {
  margin: .6rem 0;
}

/* Footer */
.footer {
  color: var(--light-color);
}

.footer .social {
  margin: 0 10px;

}

.footer .social a {
  margin: 0 10px;
}

.footer .logo-container {
  justify-content: flex-start;
}

.footer li a {
  display: block;
  padding: .6rem;
}

.footer .flex-column p {
  margin: 0;
  padding: 1.5rem 0;
  color: rgba(255, 255, 255, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer .flex-column a {
 color: #fff;
 text-decoration: underline;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-80%);
  }
  
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(80%);
  }
  
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-80%);
  }
  
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(80%);
  }
  
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 100%;
  }
}

@keyframes GradientBackground {
  0%   { background-position: 0%   50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0%   50%; }
}


/* Tablets and under */
@media(max-width: 968px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 0.5s ease-in;
    padding-bottom: 0;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 0.5s ease-in;
  }

  .cli {
    margin: 0 .5rem;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
  }

  .languages {
    padding: 1rem 0;
    margin: 1rem .5rem;
  }

  .features-head,
  .features-sub-head,
  .docs-head {
    text-align: center;
    text-wrap: balance;
  }

  .features-sub-head .grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .features-sub-head img,
  .features-sub-head svg {
    justify-self: center;
  }

  .features-head img,
  .docs-head img {
    display: none;
  }

  .docs-main .grid > :first-child {
    position: static;
    padding: 0;
  }

  .docs-main .grid .card {
    margin: 0;
    padding: 1rem;
  }
}

/* Mobile */
@media(max-width: 650px) {
  .container {
    padding: 0 1rem;
  }

  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 8px;
  }

  .showcase-form {
    width: 100%;
    max-width: 400px;
  }

  .stats-heading {
    font-size: 1.5rem;
  }

  .cli, .cli .container {
    padding: 1rem;
  }

  .cloud svg {
    width: 80vw;
  }

  .languages {
    padding: 1rem 0;
    margin: 1rem .5rem;
  }

  .languages h2 {
    font-size: 1.6rem;
  }
  
  .languages .container {
    padding: 1rem;
  }

  .features-head img,
  .docs-head img {
    width: 60%;
  }

  .features-sub-head svg {
    width: 80%;
    height: auto;
  }

  .features-main .card {
    flex-direction: column;
    align-items: center;
  }

  .features-main .card .flex {
    flex-direction: column;
    align-items: center;
  }

  .features-main .card i {
    margin: 0;
  }

  .features-main .card p {
    text-align: center;
    text-wrap: balance;
  }

  footer .grid > * {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  footer .grid > :first-child {
    flex-direction: column;
    align-items: center;
  }
}
